{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClassFinder Schedule</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="logo">Богородчанський ліцей №2</div>
    <div class="search-container">
        <button class="create-button">Адмін</button>
    </div>
</header>
<div class="sidebar">
    <button class="sidebar-btn active" id="scheduleBtn">Розклад</button>
    <button class="sidebar-btn" id="calendarBtn">Календар</button>
</div>
<main class="main-content">
    <section class="week-schedule">
        <h1 id="h1">Цього місяця</h1>
        <div class="week-days">
            <span class="day" id="day" onclick="switchTab('day')">День</span>
            <span class="day active" id="week" onclick="switchTab('week')">Тиждень</span>
            <span class="day" id="month" onclick="switchTab('month')">Місяць</span>
        </div>
        <div class="searches">
            <form method="post" action="?tab={{ active }}">
                {% csrf_token %}
                <input type="text" name="class_name" class="search-bar" placeholder="Клас">
                <input type="text" name="teacher_name" class="search-bar" placeholder="Вчитель">
                <button class="search-bar" id="form1">Пошук</button>
            </form>
        </div>
        <div id="lessonCount">
            {% if numbers_lesson %}
                <div class="filter-buttons">
                    <button>{{ numbers_lesson }} уроків за даний період</button>
                </div>
            {% endif %}
        </div>
    </section>
    <section class="today-schedule" id="todaySchedule">
        {% for day, lessons in grouped_lessons %}
            <br>
            <h2>{{ day|date:"d.m" }}</h2>
            {% for lesson in lessons %}
                <div class="class-item">
                    {% load custom_filters %}
                    {% if lesson.subject|truncate_after_comma == 'Англійська мова' %}
                        <img class="class-icon en" src="{% static 'img/img_4.png' %}">
                    {% elif lesson.subject|truncate_after_comma == 'Природа' %}
                        <img class="class-icon" src="{% static 'img/img_2.png' %}">
                    {% elif lesson.subject|truncate_after_comma == 'Фізкультура' %}
                        <img class="class-icon sport" src="{% static 'img/img.png' %}">
                    {% elif lesson.subject|truncate_after_comma == 'Математика' %}
                        <img class="class-icon sport" src="{% static 'img/img_3.png' %}">
                    {% elif lesson.subject|truncate_after_comma == 'Українська мова' %}
                        <img class="class-icon sport" src="{% static 'img/img_1.png' %}">
                    {% elif lesson.subject|truncate_after_comma == 'Зарубіжна література' %}
                        <img class="class-icon sport" src="{% static 'img/img_5.png' %}">
                    {% elif lesson.subject|truncate_after_comma == 'ГКК' %}
                        <img class="class-icon sport" src="{% static 'img/img_6.png' %}">
                    {% elif lesson.subject|truncate_after_comma == 'Географія' %}
                        <img class="class-icon sport" src="{% static 'img/img_7.png' %}">
                    {% elif lesson.subject|truncate_after_comma == 'Інформатика' %}
                        <img class="class-icon sport" src="{% static 'img/img_9.png' %}">
                    {% endif %}
                    <div class="class-details">
                        <p class="class-name">{{ lesson.subject }}</p>
                        {% if sort == 'teacher' %}
                            <p class="class-type">{{ lesson.class_name }}</p>
                        {% endif %}
                        <p class="class-type">{{ lesson.start_time|time:"H:i" }} - {{ lesson.end_time|time:"H:i" }}</p>
                        {% if sort == '' %}
                            <p class="class-type">{{ lesson.teacher }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </section>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function switchTab(tab) {
        document.querySelectorAll('.week-days .day').forEach(function (day) {
            day.classList.remove('active');
        });
        document.getElementById(tab).classList.add('active');

        const heading = document.getElementById('h1');
        if (tab === 'day') {
            heading.innerText = 'Цього дня';
        } else if (tab === 'week') {
            heading.innerText = 'Цього тижня';
        } else if (tab === 'month') {
            heading.innerText = 'Цього місяця';
        }

        $.ajax({
            url: window.location.href,
            type: 'GET',
            data: {tab: tab},
            success: function (data) {
                $('#todaySchedule').html($(data).find('#todaySchedule').html());
                $('#lessonCount').html($(data).find('#lessonCount').html());
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        const activeTab = "{{ active }}";
        if (activeTab) {
            switchTab(activeTab);
        }
    });
    document.getElementById('calendarBtn').onclick = function (){
        window.location.href = {% url 'schedule' %}
    }
    window.addEventListener("beforeunload", function (e) {
    document.cookie = 'sessionid=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
});

</script>
</html>